In [1]:
import numpy as np 
import pandas as pd 

import datetime as dt
#from datetime import datetime


from sqlalchemy import create_engine

In [2]:
# ---------------------------------Extract CSVs into DataFrames--------------------------------

In [3]:
#reading the  movies_metadata
movies_metadata=pd.read_csv("Resources/movies_metadata.csv")

C:\Users\alisa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
#reading the ratings_small
ratings_small=pd.read_csv("Resources/ratings_small.csv")

In [15]:
ratings_small.head()

   userId  movieId  rating           timestamp
0       1       31     2.5 2009-12-14 02:52:24
1       1     1029     3.0 2009-12-14 02:52:59
2       1     1061     3.0 2009-12-14 02:53:02
3       1     1129     2.0 2009-12-14 02:53:05
4       1     1172     4.0 2009-12-14 02:53:25

In [7]:
#reading the links_small
links_small=pd.read_csv("Resources/links_small.csv")

In [16]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [18]:
# conver datstamp to date
ratings_small['timestamp'] = pd.to_datetime(ratings_small['timestamp'], unit='s')

In [17]:
ratings_small.dropna()

        userId  movieId  rating           timestamp
0            1       31     2.5 2009-12-14 02:52:24
1            1     1029     3.0 2009-12-14 02:52:59
2            1     1061     3.0 2009-12-14 02:53:02
3            1     1129     2.0 2009-12-14 02:53:05
4            1     1172     4.0 2009-12-14 02:53:25
...        ...      ...     ...                 ...
99999      671     6268     2.5 2003-10-08 02:16:10
100000     671     6269     4.0 2003-10-03 02:46:41
100001     671     6365     4.0 2003-12-09 03:26:03
100002     671     6385     2.5 2003-12-09 14:21:03
100003     671     6565     3.5 2004-01-22 15:18:44

[100004 rows x 4 columns]

In [ ]:
#Transform premise DataFrame

In [19]:
# Create a filtered dataframe from specific columns
movie_cols = ["id", "imdb_id", "original_title" , "release_date" ,"vote_average" , "vote_count" ]
movie_transformed= movies_metadata[movie_cols].copy()

In [21]:
# Rename the column headers
movie_transformed = movie_transformed.rename(columns={"id": "id",
                                                          "imdb_id": "imdb_id",
                                                          "original_title": "title",
                                                          "release_date" :"release_date",
                                                          "vote_average" :"vote_average",
                                                          "vote_count" :"vote_count"
                                                     })

In [22]:
# Clean the data by dropping duplicates and setting the index
movie_transformed.drop_duplicates("id", inplace=True)
movie_transformed.set_index("id", inplace=True)

In [23]:
movie_transformed.head()

,imdb_id,title,release_date,vote_average,vote_count
id,,,,,
862,tt0114709,Toy Story,1995-10-30,7.7,5415.0
8844,tt0113497,Jumanji,1995-12-15,6.9,2413.0
15602,tt0113228,Grumpier Old Men,1995-12-22,6.5,92.0
31357,tt0114885,Waiting to Exhale,1995-12-22,6.1,34.0
11862,tt0113041,Father of the Bride Part II,1995-02-10,5.7,173.0

In [ ]:
ratings_small

In [25]:
ratings_cols = ["movieId", "imdbId", "timestamp"]
ratings_transformed = ratings_small[ratings_cols].copy()

In [26]:
# Rename the column headers
ratings_transformed = ratings_transformed.rename(columns={"movieId": "movieId",
                                                         "rating": "rating",
                                                         "timestamp": "date"
                                                         })

In [27]:
# Set index
ratings_transformed.set_index("movieId", inplace=True)

In [28]:
ratings_transformed.head()

         rating                date
movieId
31          2.5 2009-12-14 02:52:24
1029        3.0 2009-12-14 02:52:59
1061        3.0 2009-12-14 02:53:02
1129        2.0 2009-12-14 02:53:05
1172        4.0 2009-12-14 02:53:25

In [ ]:
links_small

In [30]:
links_cols = ["movieId", "imdbId", "tmdbId"]
links_transformed = links_small[links_cols].copy()

In [31]:
# Rename the column headers
links_transformed = links_transformed.rename(columns={"movieId": "movieId",
                                                         "imdbId": "imdbId",
                                                         "tmdbId": "id",
                                                         })

In [33]:
# Set index
links_transformed.set_index("movieId", inplace=True)

In [34]:
links_transformed.head()

         imdbId       id
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0